.App {
  text-align: center;
}
.congrats{
  font-size: 50px;
  margin: 30px auto;
}
.title{
  margin: 30px auto;
}
.answers{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.choiceWrapper{
  cursor: pointer;
  background-color: #1768e2;
  margin: 10px;
  border-radius: 10px;
}
.group{
  font-size: 12px;
  margin: 30px 0 10px 0;
  color: #7098d2;
}
.choiceWrapper > p{
  margin: 10px;
}

.App-logo {
  pointer-events: none;
  margin-top: 30px;
}
.exercise{
  font-size: 50px;
  margin: 10px auto;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  margin: 3px auto;
}
.matrix{
  display: flex;
  max-width: 170px;
  margin: 20px 30px;
  flex-wrap: wrap;
}
.matrix >p{
  width: 45%;
  border: aliceblue solid;
  margin: 0 auto;
}
.score{
  padding: 0 0 30px 0;
}
.answersWrapper{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.answersWrapper > label{
  width: 45%;
  margin: 20px auto;
}
.answersWrapper > label > input{
  width: 90%;
  height: 90px;
  font-size: 60px;
  text-align: center;
  margin: 20px auto;
}

.button{
  margin-top: 20px;
  width: 80%;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 400px;
}
.button:hover{
  background-color: #1768e2;
  color: aliceblue;
}